@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
    box-shadow: 0px 0.5px 2.21px 0px rgba(0, 0, 0, 0.0365);
    box-shadow: 0px 1.2px 5.32px 0px rgba(0, 0, 0, 0.0525);
    box-shadow: 0px 2.25px 10.02px 0px rgba(0, 0, 0, 0.065);
    box-shadow: 0px 4.02px 17.87px 0px rgba(0, 0, 0, 0.0775);
    box-shadow: 0px 7.52px 33.42px 0px rgba(0, 0, 0, 0.0935);
    box-shadow: 0px 18px 80px 0px rgba(0, 0, 0, 0.13);
}
